<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gecko.framework.wineLabels.repository.dao.AlCirculationDao">
	<resultMap id="AlCirculation" type="org.gecko.framework.wineLabels.entity.AlCirculation">
		<result property="id" column="ID" jdbcType="VARCHAR"/>
		<result property="temp1" column="TEMP1" jdbcType="VARCHAR" />
		<result property="endtime" column="ENDTIME" jdbcType="DATE" />
		<result property="productnum" column="PRODUCTNUM" jdbcType="VARCHAR" />
		<result property="lastupdatetime" column="LASTUPDATETIME" jdbcType="DATE" />
		<result property="topentid" column="TOPENTID" jdbcType="VARCHAR" />
		<result property="belowentid" column="BELOWENTID" jdbcType="VARCHAR" />
		<result property="temp3" column="TEMP3" jdbcType="VARCHAR" />
		<result property="starttime" column="STARTTIME" jdbcType="DATE" />
		<result property="temp4" column="TEMP4" jdbcType="VARCHAR" />
		<result property="temp2" column="TEMP2" jdbcType="VARCHAR" />
		<result property="creator" column="CREATOR" jdbcType="VARCHAR" />
	</resultMap>
	<select id="count" resultType="int" parameterType="org.gecko.framework.wineLabels.entity.AlCirculation">
		select count(*) from AL_CIRCULATION t where 1=1
	</select>
	
	<select id="get" resultMap="AlCirculation" parameterType="String">
		select  AlCirculation.* from AL_CIRCULATION AlCirculation where AlCirculation.ID = #{id}
	</select>

	<insert id="save" parameterType="org.gecko.framework.wineLabels.entity.AlCirculation">	
 		insert into AL_CIRCULATION(ID,TEMP1,ENDTIME,PRODUCTNUM,LASTUPDATETIME,TOPENTID,BELOWENTID,TEMP3,STARTTIME,TEMP4,TEMP2,CREATOR)
 		VALUES(#{id},#{temp1,jdbcType=VARCHAR},#{endtime,jdbcType=DATE},#{productnum,jdbcType=VARCHAR},#{lastupdatetime,jdbcType=DATE},#{topentid,jdbcType=VARCHAR},#{belowentid,jdbcType=VARCHAR},#{temp3,jdbcType=VARCHAR},#{starttime,jdbcType=DATE},#{temp4,jdbcType=VARCHAR},#{temp2,jdbcType=VARCHAR},#{creator,jdbcType=VARCHAR})
	</insert>
	
	<insert id="batchSave" parameterType="java.util.List">	
 		insert into AL_CIRCULATION(ID,TEMP1,ENDTIME,PRODUCTNUM,LASTUPDATETIME,TOPENTID,BELOWENTID,TEMP3,STARTTIME,TEMP4,TEMP2,CREATOR)
		values
		<foreach item="o" collection="list"  separator="," >
 		(#{o.id},#{o.temp1,jdbcType=VARCHAR},#{o.endtime,jdbcType=DATE},#{o.productnum,jdbcType=VARCHAR},#{o.lastupdatetime,jdbcType=DATE},#{o.topentid,jdbcType=VARCHAR},#{o.belowentid,jdbcType=VARCHAR},#{o.temp3,jdbcType=VARCHAR},#{o.starttime,jdbcType=DATE},#{o.temp4,jdbcType=VARCHAR},#{o.temp2,jdbcType=VARCHAR},#{o.creator,jdbcType=VARCHAR})
		</foreach>
	</insert>
	
	<update id="update" parameterType="org.gecko.framework.wineLabels.entity.AlCirculation">
    		update AL_CIRCULATION set TEMP1=#{temp1}, ENDTIME=#{endtime}, PRODUCTNUM=#{productnum}, LASTUPDATETIME=#{lastupdatetime}, TOPENTID=#{topentid}, BELOWENTID=#{belowentid}, TEMP3=#{temp3}, STARTTIME=#{starttime}, TEMP4=#{temp4}, TEMP2=#{temp2}, CREATOR=#{creator} where ID=#{id}
	</update>
	<delete id="delete" parameterType="org.gecko.framework.wineLabels.entity.AlCirculation">
		delete from AL_CIRCULATION where ID=#{id}
	</delete>
	
	<delete id="deleteById" parameterType="String">
		delete from AL_CIRCULATION where ID=#{id}
	</delete>
	
	<delete id="batchDelete">
		delete from AL_CIRCULATION where ID in
		<foreach item="ids" collection="array" open="(" separator="," close=")" >#{ids}</foreach>
	</delete>
	
	<delete id="batchDeleteBy">
        delete from AL_CIRCULATION where         <if test="temp1!=null">and TEMP1 = #{temp1}</if><if test="endtime!=null">and ENDTIME = #{endtime}</if><if test="productnum!=null">and PRODUCTNUM = #{productnum}</if><if test="lastupdatetime!=null">and LASTUPDATETIME = #{lastupdatetime}</if><if test="topentid!=null">and TOPENTID = #{topentid}</if><if test="belowentid!=null">and BELOWENTID = #{belowentid}</if><if test="temp3!=null">and TEMP3 = #{temp3}</if><if test="starttime!=null">and STARTTIME = #{starttime}</if><if test="temp4!=null">and TEMP4 = #{temp4}</if><if test="temp2!=null">and TEMP2 = #{temp2}</if><if test="creator!=null">and CREATOR = #{creator}</if>    </delete>

    <select id="find" resultMap="AlCirculation" parameterType="org.gecko.framework.wineLabels.entity.AlCirculation">
        select AlCirculation.* from AL_CIRCULATION AlCirculation where 1=1 <if test="id!=null">and ID=#{id}</if>
        <if test="temp1!=null"> and TEMP1 = #{temp1} </if><if test="endtime!=null"> and ENDTIME = #{endtime} </if><if test="productnum!=null"> and PRODUCTNUM = #{productnum} </if><if test="lastupdatetime!=null"> and LASTUPDATETIME = #{lastupdatetime} </if><if test="topentid!=null"> and TOPENTID = #{topentid} </if><if test="belowentid!=null"> and BELOWENTID = #{belowentid} </if><if test="temp3!=null"> and TEMP3 = #{temp3} </if><if test="starttime!=null"> and STARTTIME = #{starttime} </if><if test="temp4!=null"> and TEMP4 = #{temp4} </if><if test="temp2!=null"> and TEMP2 = #{temp2} </if><if test="creator!=null"> and CREATOR = #{creator} </if>    </select>

	<select id="findByPage" resultMap="AlCirculation" parameterType="org.gecko.framework.wineLabels.entity.AlCirculation">
		select AlCirculation.* from AL_CIRCULATION AlCirculation where 1=1 <if test="param.id!=null">and ID=#{id}</if>
		<if test="param.temp1!=null"> and TEMP1 = #{param.temp1} </if><if test="param.endtime!=null"> and ENDTIME = #{param.endtime} </if><if test="param.productnum!=null"> and PRODUCTNUM = #{param.productnum} </if><if test="param.lastupdatetime!=null"> and LASTUPDATETIME = #{param.lastupdatetime} </if><if test="param.topentid!=null"> and TOPENTID = #{param.topentid} </if><if test="param.belowentid!=null"> and BELOWENTID = #{param.belowentid} </if><if test="param.temp3!=null"> and TEMP3 = #{param.temp3} </if><if test="param.starttime!=null"> and STARTTIME = #{param.starttime} </if><if test="param.temp4!=null"> and TEMP4 = #{param.temp4} </if><if test="param.temp2!=null"> and TEMP2 = #{param.temp2} </if><if test="param.creator!=null"> and CREATOR = #{param.creator} </if>	</select>

    <select id="likeByPage" resultMap="AlCirculation" parameterType="org.gecko.framework.wineLabels.entity.AlCirculation">
        select AlCirculation.* from AL_CIRCULATION AlCirculation where 1=1
        <if test="param.temp1!=null"> and TEMP1 like #{param.temp1}</if><if test="param.endtime!=null"> and ENDTIME like #{param.endtime}</if><if test="param.productnum!=null"> and PRODUCTNUM like #{param.productnum}</if><if test="param.lastupdatetime!=null"> and LASTUPDATETIME like #{param.lastupdatetime}</if><if test="param.topentid!=null"> and TOPENTID like #{param.topentid}</if><if test="param.belowentid!=null"> and BELOWENTID like #{param.belowentid}</if><if test="param.temp3!=null"> and TEMP3 like #{param.temp3}</if><if test="param.starttime!=null"> and STARTTIME like #{param.starttime}</if><if test="param.temp4!=null"> and TEMP4 like #{param.temp4}</if><if test="param.temp2!=null"> and TEMP2 like #{param.temp2}</if><if test="param.creator!=null"> and CREATOR like #{param.creator}</if>    </select>

    <update id="updateField" parameterType="String">
        UPDATE AL_CIRCULATION SET ${field} = #{value} WHERE ID = #{pk}
    </update>
</mapper>