<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pubdata-PubBaseinfoSysdept</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../../static/styles/css/ace-fonts.css"/>
    <link rel="stylesheet" type="text/css" href="../../../static/styles/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="../../../static/styles/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../../../static/styles/css/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="../../../static/scripts/gecko-modules/bootstrap/bootstrap-editable.css">
    <link rel="stylesheet" type="text/css" href="../../../static/styles/css/ace.css"/>
    <link rel="stylesheet" type="text/css" href="../../../static/styles/gecko.css"/>
    <script type="text/javascript" src="../../../static/scripts/gecko-modules/jquery/jquery.js"></script>
    <script type="text/javascript" src="../../../static/scripts/gecko-modules/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../static/scripts/gecko-modules/bootstrap/bootstrap-table.js"></script>
    <script src="../../../static/scripts/gecko-modules/bootstrap/bootstrap-table-editable.js"></script>
    <script src="../../../static/scripts/gecko-modules/bootstrap/bootstrap-editable.min.js"></script>
    <script type="text/javascript" src="../../../static/scripts/gecko-modules/bootstrap/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript" src="../../../static/scripts/app/system/comm/utils.js"></script>
    <script type="text/javascript" src="../../../static/scripts/pubdata/pubbaseinfosysdept/pubbaseinfosysdept.js"></script>
    <script type="text/javascript">
        var tableId = "pubbaseinfosysdeptTable";
        $(function () {
            $("#" + tableId).bootstrapTable({
                toolbar: "#toolbar",
                idField: "ID",
                pagination: true,
                limit: 15,
                showRefresh: true,
                sidePagination: "server",
                search: true,
                url: "/pubdata/pubbaseinfosysdept/list",
                columns: [{
                    checkbox: true
                }, {
                    field: "ID",
                    visible: false
                }, {
                    field: "coordinatey",
                    title: "纬度",
                    type: "text",
                    search: "true",
                    editable: {
                        type: "text"                    }
                }, {
                    field: "deptname",
                    title: "部门名称",
                    type: "text",
                    search: "true",
                    editable: {
                        type: "text"                    }
                }, {
                    field: "sourceid",
                    title: "资源ID",
                    type: "text",
                    search: "true",
                    editable: {
                        type: "text"                    }
                }, {
                    field: "coordinatex",
                    title: "经度",
                    type: "text",
                    search: "true",
                    editable: {
                        type: "text"                    }
                }, {
                    field: "deptnum",
                    title: "部门编号",
                    type: "text",
                    search: "true",
                    editable: {
                        type: "text"                    }
                }, {
                    field: "squence",
                    title: "部门序列",
                    type: "text",
                    search: "true",
                    editable: {
                        type: "text"                    }
                }, {
                    field: "deptfullname",
                    title: "部门全称",
                    type: "text",
                    search: "true",
                    editable: {
                        type: "text"                    }
                }, {
                    field: "area",
                    title: "行政区划",
                    type: "text",
                    search: "true",
                    editable: {
                        type: "text"                    }
                }, {
                    field: "parentdept",
                    title: "上级部门",
                    type: "text",
                    search: "true",
                    editable: {
                        type: "text"                    }
                }],
                onEditableSave: function (field, row, oldValue, e) {
                    var data = {name: field, pk: row.id, value: row[field]};
                    $.ajax({
                        type: "post",
                        url: "/pubdata/pubbaseinfosysdept/edit",
                        data: data,
                        dataType: 'JSON',
                        content: "application/json;charset=UTF8",
                        success: function (data, status) {
                            if (status === "success") {
                                //info("authorityTable", '修改成功');
                            }
                        },
                        error: function () {
                            //info('authorityTable', '编辑失败');
                        },
                        complete: function () {

                        }
                    });
                }
            });
        });
        var remove = function () {
            var table = $("#" + tableId);
            var selected = table.bootstrapTable("getSelections");
            var ids = [];
            selected.forEach(function (t) {
                ids.push(t.id)
            });

            if (ids.length >= 1 && confirm("确认删除以下数据据：" + ids + " ?")) {
                $.ajax({
                    url: "/pubdata/pubbaseinfosysdept/delete", data: JSON.stringify(ids), type: "DELETE",
                    contentType: "application/json;charset=utf8",
                    success: function (resp) {
                        if (resp.code === 0) {
                            //info(tableId, "删除成功");
                            table.bootstrapTable('remove', {field: 'id', values: ids});
                        }
                    }
                });
            }
        };
        var add = function () {
            var table = $("#" + tableId);
            //TODO change this init param my yourself
            var rowData = {ID: "" ,coordinatey:"",deptname:"",sourceid:"",coordinatex:"",deptnum:"",squence:"",deptfullname:"",area:"",parentdept:""};
            $.ajax({
                url: "/pubdata/pubbaseinfosysdept/save",
                data: JSON.stringify(rowData),
                type: "PUT",
                contentType: "application/json; charset=UTF-8",
                success: function (res) {
                    if (res.code === 0) {
                        rowData.id = res.data.id;
                        table.bootstrapTable("insertRow", {index: 0, row: rowData});
                    }
                }
            });
        }
    </script>
</head>
<body>
<!--顶部按钮-->
<div id="toolbar">
    <div class="btn-group">
        <button id="add" class="btn btn-md btn-success" onclick="add();">新建</button>
        <button id="delete" class="btn btn-md btn-danger" onclick="remove();">删除</button>
    </div>
</div>

<div class="page-content">
    <table id="pubbaseinfosysdeptTable"></table>
</div>
</body>
</html>