<!DOCTYPE html>
<html>
<head>
    <title>机构管理</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/styles/css/tree.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/css/ace-fonts.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/css/organization.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/css/ace.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/gecko.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/css/chosen.css" />

    <script type="text/javascript" src="/static/scripts/gecko-modules/jquery/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="/static/scripts/gecko-modules/jquery/jquery.ztree.all-3.5.min.js"></script>
    <script type="text/javascript" src="/static/scripts/gecko-modules/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/scripts/gecko-modules/ace/ace.js"></script>
    <script type="text/javascript" src="/static/scripts/gecko-modules/jquery/chosen.jquery.js"></script>
    <script type="text/javascript" src="/static/scripts/gecko-modules/ace/ace.searchbox-autocomplete.js"></script>
    <script type="text/javascript" src="/static/scripts/app/system/comm/organization-tree.js"></script>
    <script type="text/javascript" src="/static/scripts/app/system/organization/org.js"></script>
     <style>
		.chosen-container{
			width:167px !important;
		}
	</style>
</head>
<body>
<div class="breadcrumbs" id="breadcrumbs" style="height:41px;">
    <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed')
        } catch (e) {
        }
    </script>
    <ul class="breadcrumb">
        <li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">首页</a></li>
        <li class="active">机构管理</li>
    </ul>
    <!-- /.breadcrumb -->
    <!-- #section:basics/content.searchbox -->
    <div class="nav-search" id="nav-search">
        <form class="form-search">
				<span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                    <i class="ace-icon fa fa-search nav-search-icon"></i>
				</span>
        </form>
    </div>
    <!-- /.nav-search -->
    <!-- /section:basics/content.searchbox -->
</div>
<div class="page-content">
    <div class="row-fluid">
        <div class=" col-md-4 page-left" id="page-left">
            <div class="widget-box tree-widget-box" id="widget-box">
                <div class="widget-body tree-widget-body" id="widgetBody">
                    <div class="widget-main padding-8 tree-widget-main">
                        <div id="tree" class="ztree"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-8 page-right" style="padding-left: 15px !important;">
            <ul class="nav nav-tabs">
                <li class="active"><a class="tap" data-toggle="tab" href="#basic">
                    <i class="green ace-icon fa fa-list bigger-120"></i>
                    基本信息
                </a></li>
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active menu-control">
                    <div class="menu-control-btn">
                        <button class="btn btn-sm btn-success" onclick="orgNew();">
                            <i class="ace-icon fa fa-plus-square-o bigger-110"></i>
                            新建
                        </button>
                        <button class="btn btn-sm btn-primary" onclick="orgEdit();">
                            <i class="ace-icon fa fa-pencil-square-o bigger-110"></i>
                            编辑
                        </button>
                        <button class="btn btn-sm btn-info disabled" id="org_btn_save" onclick="orgSave();">
                            <i class="ace-icon fa fa-file-o bigger-110"></i>
                            保存
                        </button>
                        <button class="btn btn-sm btn-danger" onclick="orgDelete();">
                            <i class="ace-icon fa fa-trash-o bigger-110"></i>
                            删除
                        </button>
                    </div>
                    <div class="form-inline no-border">
                        <ul class="list-group no-border">
                            <li class="list-group-item">
                                <input id="org_id" name="org_id" value="" type="hidden">
                                <label for="org_parent">所属单位:</label>
                                <select title="所属机构" class="chosen-select org-sel" id="org_parent" data-placeholder="所属机构">
                                    <option value="-1">请选择所属机构</option>
                                </select>
                            </li>
                            <li class="list-group-item">
                                <label>机构名称:</label>
                                <input title="机构名称" class="form-control input-sm " id="org_name" />
                            </li>
                            <li class="list-group-item">
                                <label for="org_category">机构类型:</label>
                                <select title="机构类型" class="chosen-select org-sel" id="org_category" data-placeholder="机构类型">
                                    <option value="-1">请选择机构类型</option>
                                    <option value="1">系统</option>
                                    <option value="2">省局</option>
                                    <option value="3">市局</option>
                                    <option value="4">分局</option>
                                    <option value="5">部门</option>
                                </select>
                            </li>
                            <li class="list-group-item">
                                <label for="">机构编码:</label>
                                <input title="机构编码" id="org_code" class="form-control input-sm" />
                            </li>
                            <li class="list-group-item">&nbsp;&nbsp;<span id="org_msg" class="text-danger"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>