.add-btn,.edit-btn,.lock-btn,.delete-btn{
	border-radius:0 !important;
	position:relative;
	height:25px;
	width:55px;
}
.add-btn span,.edit-btn span,.lock-btn span,.delete-btn span {
	display: inline-block;
	position:absolute;
	box-sizing: border-box;
	font-size: 12px;
	top:4px;
	right:5px;
	font-family: "微软雅黑";
}
.add-btn i,.edit-btn i,.lock-btn i,.delete-btn i{
	position: absolute;
	top:5px;
	left:5px;
}
#tool{
	background:#F5F5F5;
	height:50px;
	line-height:50px;
	padding:0px 10px;
	box-sizing: border-box;
	position: relative;
}
.search-box{
	position: absolute;
	right:10px;
	top:0px;
}
.search-input{
	height:32px;
}
.userTable{
	padding-left:10px !important;
	box-sizing:border-box;
}
