<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>权限管理</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/css/tree.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/css/ace-fonts.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/css/organization.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/css/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="/static/scripts/gecko-modules/bootstrap/bootstrap-editable.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/css/ace.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/gecko.css"/>
    <script type="text/javascript" src="/static/scripts/gecko-modules/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/scripts/gecko-modules/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/scripts/gecko-modules/bootstrap/bootstrap-table.js"></script>
    <script src="/static/scripts/gecko-modules/bootstrap/bootstrap-table-editable.js"></script>
    <script src="/static/scripts/gecko-modules/bootstrap/bootstrap-editable.min.js"></script>
    <script type="text/javascript" src="/static/scripts/gecko-modules/bootstrap/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript" src="/static/scripts/app/system/comm/utils.js"></script>
    <script type="text/javascript" src="/static/scripts/app/system/authority/authority.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#authorityTable").bootstrapTable({
                toolbar: "#toolbar",
                idField: "id",
                pagination: true,
                limit: 15,
                showRefresh: true,
                sidePagination: "server",
                search: true,
                url: "/system/authority/tableData",
                columns: [{
                    checkbox: true
                }, {
                    field: "id",
                    visible: false
                }, {
                    field: "authorityName",
                    title: "名称",
                    sortable:true,
                    editable: {
                        type: 'text',
                        title: '名称',
                    }
                }, {
                    field: "authorityCode",
                    title: "控制代码",
                    sortable:true,
                    editable: {
                        type: "text"
                    }
                }, {
                    field: "resource",
                    title: "所属菜单",
                    sortable:true,
                    editable: {
                        type: "text"
                    }
                }, {
                    field: "sortIndex",
                    title: "排列顺序",
                    searchable: false,
                    editable: {
                        type: "number"
                    }
                }, {
                    field: "authorityType",
                    title: "权限类型(SYSTEM|CUSTOM)"
                }],
                onEditableSave: function (field, row, oldValue, e) {
                    var data = {name: field, pk: row.id, value: row[field]};
                    $.ajax({
                        type: "post",
                        url: "/system/authority/edit",
                        data: data,
                        dataType: 'JSON',
                        content: "application/json;charset=UTF8",
                        success: function (data, status) {
                            if (status === "success") {
                                //info("authorityTable", '修改成功');
                            }
                        },
                        error: function () {
                            //info('authorityTable', '编辑失败');
                        },
                        complete: function () {

                        }
                    });
                }
            });
        });
        var remove = function () {
            var table = $("#authorityTable");
            var selected = table.bootstrapTable("getSelections");
            var ids = [];
            selected.forEach(function (t) {
                ids.push(t.id)
            });

            if (ids.length >= 1 && confirm("请谨慎删除，确认删除以下数据据：" + ids)) {
                $.ajax({
                    url: "/system/authority/delete", data: JSON.stringify(ids), type: "DELETE",
                    contentType: "application/json;charset=utf8",
                    success: function (resp) {
                        if (resp.code === 0) {
                            info("authorityTable", "删除成功");
                            $("#authorityTable").bootstrapTable('remove', {field: 'id', values: ids});
                        }
                    }
                });
            }
        };
        var addAuthority = function () {
            var table = $("#authorityTable");
            var rowData = {
                id: "",
                authorityCode: "GECKO_SYSTEM_",
                authorityName: "",
                sortIndex: "1",
                resource: "",
                authorityType: "CUSTOM"
            };
            $.ajax({
                url: "/system/authority/save",
                data: JSON.stringify(rowData),
                type: "put",
                contentType: "application/json; charset=UTF-8",
                success: function (res) {
                    rowData.id = res.data.id;
                    table.bootstrapTable("insertRow", {index: 0, row: rowData});
                }
            });
        }
    </script>
</head>
<body>
<!--顶部按钮-->
<div id="toolbar">
    <div class="btn-group">
        <button id="add" class="btn btn-md btn-success" onclick="addAuthority();">新建权限</button>
        <button id="delete" class="btn btn-md btn-danger" onclick="remove();">删除权限</button>
    </div>
</div>

<div class="page-content">
    <table id="authorityTable"></table>
</div>

</body>
</html>