.v_panel_title {
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 0px 5px 0px 5px;
}

.v_param_panel_headings {
	height: 32px;
	line-height: 32px;
	width: 100%;
	vertical-align: middle;
	background-image: url(../img/panel/panel_v.png);
	background-repeat: repeat-x;
	margin: 5px 5px 5px 5px;
	cursor: pointer;
	text-align: center;
	color: white;
	display:block;
}

.v_param_panel_headings_highlight {
	height: 32px;
	line-height: 32px;
	width: 100%;
	vertical-align: middle;
	background-image: url(../img/panel/panel_s.png);
	background-repeat: repeat-x;
	margin: 5px 5px 5px 5px;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: white;
	display:block;
}

.h_param_panel_headings {
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
	background-image: url(../img/panel/panel_h.png);
	background-repeat: repeat-x;
	margin: 2px 1px 2px 1px;
	cursor: pointer;
	text-align: center;
	color: white;
	display:inline-block;
}

.h_param_panel_headings_highlight {
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
	background-image: url(../img/panel/panel_s.png);
	background-repeat: repeat-x;
	margin: 2px 1px 2px 1px;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: white;
	display:inline-block;
}

.v_checkbox_headings{
	height: 26px;
	line-height: 26px;
	width: 100%;
	vertical-align: middle;
	cursor: pointer;
	text-align: left;
	display:block;
	padding-top:5px;
	padding-bottom:5px;
}

.h_checkbox_headings {
	height: 26px;
	line-height: 26px;
	vertical-align: middle;
	cursor: pointer;
	text-align: left;
	display:inline-block;
	margin-left:5px;
	margin-right:5px
}

.slider_title {
	vertical-align: top;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-left:5px;
	margin-top:3px;
	display:inline-block;
}
.vci {
	vertical-align: middle;
	display: table-cell;
	text-align: center;
	height:100%;
	_position: absolute;
	_top: 45%;
	_left: 45%;
}

.vciContent {
	display: inline-block;
	height:100%;
	_position: relative;
	_top: -45%;
	_left: -45%;
}
