/*
 * 创建MultiCalendar控件的风格定义
*/
 
/*控件容器******/
.multicalendar-panel {
	width: 150px;
	height: 18px;
	border: 0px;
}

/*选中日期显示框******/
.multicalendar-edit {
	width: 131px;
	height: 18px;
	font-size: 12px;
	padding-top: 0px;
	padding-left: 6px;
	border-right-style: none;
	border: none;
	color: #818181;
	background-image:url(../img/multicalendar/calendar_input_bg.gif);
}

/*按钮容器******/
.multicalendar-button-container {
	display:inline;
	width: 19px;
	height: 21px;
	padding-top :2px;
	padding-left :2px;
}

/*触发日期控件展现按钮******/
.multicalendar-button {
	width: 16px;
	height: 16px;
	border: none;
	cursor:pointer;
	vertical-align: middle;
	align :center;
	background-color: #ffffff;
	background-image:url(../img/multicalendar/clock_btn.gif);
	
}

/*有背景图片的输入框－无按钮******/
/*控件容器******/
.multicalendar-nobutton-panel {
	width: 150px;
	height: 21px;
	vertical-align: top;
	border: 0px;
}

/*选中日期显示框******/
.multicalendar-nobutton-edit {
	width: 150px;
	font-size: 12px;
	vertical-align: middle;
	padding-top: 4px;
	padding-left: 6px;
	border-right-style: none;
	border: none;
	color: #818181;
	background-image:url(../img/multicalendar/calendar_input_nobutton_bg.gif);
}

/*按钮容器******/
.multicalendar-nobutton-button-container {
	display:inline;
	width: 21px;
	height: 21px;
	padding-top :4px;
	padding-left :3px;
}

/*触发日期控件展现按钮*****/
.multicalendar-nobutton-button {
	width: 16px;
	height: 16px;
	border: none;
	cursor:pointer;
	vertical-align: middle;
	align :center;
	background-color: #ffffff;
	background-image:url(../img/multicalendar/clock_btn.gif) ;
}

/*无背景图片的输入框－有按钮******/
/*控件容器******/
.multicalendar-nobackground-panel {
	width: 150px;
	height: 18px;
	vertical-align: top;
	border: 0px;
}

/*选中日期显示框******/
.multicalendar-nobackground-edit {
	width: 123px;
	height: 18px;
	font-size: 12px;
	vertical-align: top;
}

/*按钮容器******/
.multicalendar-nobackground-button-container {
	display:inline;
	width: 17px;
	padding-top :2px;
	padding-left :1px;
}

/*触发日期控件展现按钮******/
.multicalendar-nobackground-button {
	width: 16px;
	height: 16px;
	border: none;
	cursor:pointer;
	vertical-align: middle;
	align :center;
	background-color: #ffffff;
	background-image:url(../img/multicalendar/clock_btn.gif) ;
	background-repeat: no-repeat;
}

/*无背景图片的输入框－无按钮******/
/*控件容器******/
.multicalendar-nobackground-nobutton-panel {
	width: 150px;
	vertical-align: top;
	border: 0px;
}

/*选中日期显示框******/
.multicalendar-nobackground-nobutton-edit {
	width: 150px;
	font-size: 12px;
	vertical-align: middle;
	color: #818181;
}

/*按钮容器******/
.multicalendar-nobackground-nobutton-button-container {
	display:inline;
	width: 21px;
	padding-top :2px;
	padding-left :1px;
}

/*触发日期控件展现按钮******/
.multicalendar-nobackground-nobutton-button {
	width: 16px;
	height: 16px;
	border: none;
	cursor:pointer;
	vertical-align: middle;
	align :center;
	background-color: #ffffff;
	background-image:url(../img/multicalendar/clock_btn.gif) ;
}

/*存放日期控件顶层IFrame******/
.multicalendar-iframe {
	z-index: 9997;
	border: 0;
	position: absolute;
}

/*存放鼠标经过提示框的DIV层--日历******/
.multicalendar-title {
	z-index: 10001;
	position: absolute;
	font-size: 12px;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#cecece,direction=135,strength=4);
}
.multicalendar-title-left {
	display:inline-block;
	zoom: 1;
	background-image:url(../img/multicalendar/round_left1.gif);
	width: 5px;
	height: 27px;
	line-height: 27px;
}
.multicalendar-title-center {
	display:inline-block;
	zoom: 1;
	vertical-align: top;
	background-image:url(../img/multicalendar/round_center1.gif);
	height: 27px;
	line-height: 27px;
}
.multicalendar-title-right {
	display:inline-block;
	zoom: 1;
	background-image:url(../img/multicalendar/round_right1.gif);
	width: 5px;
	height: 27px;
	line-height: 27px;
}

/*存放鼠标经过提示框的DIV层--月历******/
.multicalendar-month-title {
	z-index: 10001;
	position: absolute;
	font-size: 12px;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#cecece,direction=135,strength=4);
}
.multicalendar-month-title-left {
	display:inline-block;
	zoom: 1;
	background-image:url(../img/multicalendar/round_left2.gif);
	width: 7px;
	height: 44px;
	line-height: 44px;
}
.multicalendar-month-title-center {
	display:inline-block;
	zoom: 1;
	vertical-align: top;
	background-image:url(../img/multicalendar/round_center2.gif);
	height: 44px;
	line-height: 22px;
}
.multicalendar-month-title-right {
	display:inline-block;
	zoom: 1;
	background-image:url(../img/multicalendar/round_right2.gif);
	width: 7px;
	height: 44px;
	line-height: 44px;
}

/*iframe样式******/
 
/*body样式******/
BODY{
	font-family:宋体;
	border: 0px; 
	overflow: hidden; 
	margin: 0pt;
}

/*TD样式******/
TD{
	font-size: 12px;
}

/*主背景色******/
.mainbackgroundcolor{
	background-color:#90a7bc;
}

/*白色边框******/
.whiteborder{
	border: 1px solid #FFFFFF;
	padding: 1px;
}

/*主字体颜色******/
.mainfontcolor{
	color:#000000;
}

/*主容器div样式******/
.calendar-panel {
	position: absolute; 
	left:0; 
	top:0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#d6d6d6,direction=135,strength=4);
}

/*功能栏样式－按钮左、右、上、下边框******/
.calendar-border-noleft{
	border-right:#FFFFFF 1px solid;
	border-top:#FFFFFF 1px solid;
	border-bottom:#FFFFFF 1px solid;
}

.calendar-border-left{
	border-left:#FFFFFF 1px solid;
}

/*主容器table样式******/
table.main{
	padding-top:1px ;
	border-left:1px solid #79b4da;
	border-right:1px solid #79b4da;
	border-bottom:1px solid #79b4da;
}

/*拖动条颜色样式******/
table.dragbar{
	background-image:url(../img/multicalendar/week_bg.gif);
}
TD.dragbar{
	font-size:12px;
	color:#000000;
}


/*年月选择框样式******/
span.year{
	z-index:9999;
	position:absolute;
	top:24px;
	left:42px;
	border: 1px solid #728da5;
}
table.year{
	background-color:#90a7bc;
	cursor:pointer;
}

span.month{
	z-index: 9999;
	position: absolute;
	top: 24px;
	border:#79b4da 1px solid
}
table.month{
	background-color:#90a7bc;
	cursor:pointer;
}

TD.calendarhead{
	padding-top: 2px;
	font-size:12px;
	color: #FFFFFF; 
	background-color: #90a7bc;
}

TD.mouseoverYM{
	text-align:center;
	color: #000000; 
	background-image:url(../img/multicalendar/selected_day.gif);
}

td.normalYM{
	text-align:center;
	color:#000000;
	background-color: #FFFFFF;
}

td.selectedYM{
	height:16px;
	text-align:center;
	color:#000000;
	background-color:#acdefe;
}

.prev-year-button {
	display:inline-block;
	zoom: 1;
	background-image:url(../img/multicalendar/prev_arrow.gif);
	width: 9px;
	height: 8px;
	line-height: 8px;
	font-size: 4px;
}

.next-year-button {
	display:inline-block;
	zoom: 1;
	background-image:url(../img/multicalendar/next_arrow.gif);
	width: 9px;
	height: 8px;
	line-height: 8px;
	font-size: 4px;
}


span.prev-year-tool-button{
	width:21px; 
	height:21px;
	cursor:pointer;
	background-image:url(../img/multicalendar/prev_year.gif);
	display:block;
}

span.next-year-tool-button{
	width:21px; 
	height:21px;
	cursor:pointer;
	background-image:url(../img/multicalendar/next_year.gif);
	display:block;
}

span.prev-month-tool-button{
	width:20px; 
	height:21px;
	cursor:pointer;
	background-image:url(../img/multicalendar/prev_month.gif);
	display:block;
}

span.next-month-tool-button{
	width:20px; 
	height:21px;
	cursor:pointer;
	background-image:url(../img/multicalendar/next_month.gif);
	display:block;
}


/*日期控件主体部分******/
table.calendarcell{
	background-color:#FFF8EC;
	border-right:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
}

TD.mouseover{
	background-image:url(../img/multicalendar/selected_day.gif);
	color: #000000; 
	cursor:pointer;
	/*border:1px solid #79b4da;*/
}

TD.mouseover-month{
	background-image:url(../img/multicalendar/selected_month.gif);
	color: #000000; 
	cursor:pointer;
	border:1px solid #79b4da;
}

TD.mouseover-tenday{
	background-image:url(../img/multicalendar/selected_tenday.gif);
	color: #000000; 
	cursor:pointer;
	border:1px solid #79b4da;
}

TD.mouseover-quarter{
	background-image:url(../img/multicalendar/selected_quarter.gif);
	color: #000000; 
	cursor:pointer;
	border:1px solid #79b4da;
}

TD.normalday,TD.grayday,TD.today,TD.graytoday{
	border-left:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	border-right:1px solid #79b4da;
	border-bottom:1px solid #79b4da;
}

TD.selectedday,TD.selectedgrayday{
	background-image:url(../img/multicalendar/selected_day.gif);
	border-left:1px solid #79b4da;
	border-top:1px solid #79b4da;
	border-right:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
}

TD.selectedday-month{
	background-image:url(../img/multicalendar/selected_month.gif);
	border-left:1px solid #79b4da;
	border-top:1px solid #79b4da;
	border-right:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
}

TD.selectedday-tenday{
	background-image:url(../img/multicalendar/selected_tenday.gif);
	border-left:1px solid #79b4da;
	border-top:1px solid #79b4da;
	border-right:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
}

TD.selectedday-quarter{
	background-image:url(../img/multicalendar/selected_quarter.gif);
	border-left:1px solid #79b4da;
	border-top:1px solid #79b4da;
	border-right:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
}

TD.normalday{
	color:#000000;
	background-color:#acdefe;
}

TD.grayday{
	color:#9d9d9d;
	background-color:#acdefe;
}

TD.today{
	background-image:url(../img/multicalendar/today.gif);
	color:#FFFFFF
}

TD.this-month{
	background-image:url(../img/multicalendar/this-month.gif);
	color:#FFFFFF
}


TD.selectedday{
	color:#000000;
	background-color:#00FFFF;
}

TD.selectedgrayday{
	color:#9d9d9d;
	background-color:#00FFFF;
}

TD.graytoday{
	color:#9d9d9d;
}