<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gecko.framework.pubdata.repository.dao.PubBaseinfoSysareaDao">
	<resultMap id="PubBaseinfoSysarea" type="org.gecko.framework.pubdata.entity.PubBaseinfoSysarea">
		<result property="id" column="ID" jdbcType="VARCHAR"/>
		<result property="arealevel" column="AREALEVEL" jdbcType="VARCHAR" />
		<result property="areaname" column="AREANAME" jdbcType="VARCHAR" />
		<result property="parentarea" column="PARENTAREA" jdbcType="VARCHAR" />
		<result property="remark" column="REMARK" jdbcType="CLOB" typeHandler="org.apache.ibatis.type.ClobTypeHandler" />
		<result property="areanum" column="AREANUM" jdbcType="VARCHAR" />
		<result property="arealevelname" column="AREALEVELNAME" jdbcType="VARCHAR" />
		<result property="sourceid" column="SOURCEID" jdbcType="VARCHAR" />
	</resultMap>
	<select id="count" resultType="int" parameterType="org.gecko.framework.pubdata.entity.PubBaseinfoSysarea">
		select count(*) from PUB_BASEINFO_SYSAREA t where 1=1
	</select>
	
	<select id="get" resultMap="PubBaseinfoSysarea" parameterType="String">
		select  PubBaseinfoSysarea.* from PUB_BASEINFO_SYSAREA PubBaseinfoSysarea where PubBaseinfoSysarea.ID = #{id}
	</select>

	<insert id="save" parameterType="org.gecko.framework.pubdata.entity.PubBaseinfoSysarea">	
 		insert into PUB_BASEINFO_SYSAREA(ID,AREALEVEL,AREANAME,PARENTAREA,REMARK,AREANUM,AREALEVELNAME,SOURCEID)
 		VALUES(#{id},#{arealevel,jdbcType=VARCHAR},#{areaname,jdbcType=VARCHAR},#{parentarea,jdbcType=VARCHAR},#{remark,jdbcType=CLOB,typeHandler=org.apache.ibatis.type.ClobTypeHandler},#{areanum,jdbcType=VARCHAR},#{arealevelname,jdbcType=VARCHAR},#{sourceid,jdbcType=VARCHAR})
	</insert>
	
	<insert id="batchSave" parameterType="java.util.List">	
 		insert into PUB_BASEINFO_SYSAREA(ID,AREALEVEL,AREANAME,PARENTAREA,REMARK,AREANUM,AREALEVELNAME,SOURCEID)
		values
		<foreach item="o" collection="list"  separator="," >
 		(#{o.id},#{o.arealevel,jdbcType=VARCHAR},#{o.areaname,jdbcType=VARCHAR},#{o.parentarea,jdbcType=VARCHAR},#{o.remark,jdbcType=CLOB,typeHandler=org.apache.ibatis.type.ClobTypeHandler},#{o.areanum,jdbcType=VARCHAR},#{o.arealevelname,jdbcType=VARCHAR},#{o.sourceid,jdbcType=VARCHAR})
		</foreach>
	</insert>
	
	<update id="update" parameterType="org.gecko.framework.pubdata.entity.PubBaseinfoSysarea">
    		update PUB_BASEINFO_SYSAREA set AREALEVEL=#{arealevel}, AREANAME=#{areaname}, PARENTAREA=#{parentarea}, REMARK=#{remark,jdbcType=CLOB,typeHandler=org.apache.ibatis.type.ClobTypeHandler}, AREANUM=#{areanum}, AREALEVELNAME=#{arealevelname}, SOURCEID=#{sourceid} where ID=#{id}
	</update>
	<delete id="delete" parameterType="org.gecko.framework.pubdata.entity.PubBaseinfoSysarea">
		delete from PUB_BASEINFO_SYSAREA where ID=#{id}
	</delete>
	
	<delete id="deleteById" parameterType="String">
		delete from PUB_BASEINFO_SYSAREA where ID=#{id}
	</delete>
	
	<delete id="batchDelete">
		delete from PUB_BASEINFO_SYSAREA where ID in
		<foreach item="ids" collection="array" open="(" separator="," close=")" >#{ids}</foreach>
	</delete>
	
	<delete id="batchDeleteBy">
        delete from PUB_BASEINFO_SYSAREA where         <if test="arealevel!=null">and AREALEVEL = #{arealevel}</if><if test="areaname!=null">and AREANAME = #{areaname}</if><if test="parentarea!=null">and PARENTAREA = #{parentarea}</if><if test="areanum!=null">and AREANUM = #{areanum}</if><if test="arealevelname!=null">and AREALEVELNAME = #{arealevelname}</if><if test="sourceid!=null">and SOURCEID = #{sourceid}</if>    </delete>

    <select id="find" resultMap="PubBaseinfoSysarea" parameterType="org.gecko.framework.pubdata.entity.PubBaseinfoSysarea">
        select PubBaseinfoSysarea.* from PUB_BASEINFO_SYSAREA PubBaseinfoSysarea where 1=1 <if test="id!=null">and ID=#{id}</if>
        <if test="arealevel!=null"> and AREALEVEL = #{arealevel} </if><if test="areaname!=null"> and AREANAME = #{areaname} </if><if test="parentarea!=null"> and PARENTAREA = #{parentarea} </if><if test="areanum!=null"> and AREANUM = #{areanum} </if><if test="arealevelname!=null"> and AREALEVELNAME = #{arealevelname} </if><if test="sourceid!=null"> and SOURCEID = #{sourceid} </if>    </select>

	<select id="findByPage" resultMap="PubBaseinfoSysarea" parameterType="org.gecko.framework.pubdata.entity.PubBaseinfoSysarea">
		select PubBaseinfoSysarea.* from PUB_BASEINFO_SYSAREA PubBaseinfoSysarea where 1=1 <if test="param.id!=null">and ID=#{id}</if>
		<if test="param.arealevel!=null"> and AREALEVEL = #{param.arealevel} </if><if test="param.areaname!=null"> and AREANAME = #{param.areaname} </if><if test="param.parentarea!=null"> and PARENTAREA = #{param.parentarea} </if><if test="param.areanum!=null"> and AREANUM = #{param.areanum} </if><if test="param.arealevelname!=null"> and AREALEVELNAME = #{param.arealevelname} </if><if test="param.sourceid!=null"> and SOURCEID = #{param.sourceid} </if>	</select>

    <select id="likeByPage" resultMap="PubBaseinfoSysarea" parameterType="org.gecko.framework.pubdata.entity.PubBaseinfoSysarea">
        select PubBaseinfoSysarea.* from PUB_BASEINFO_SYSAREA PubBaseinfoSysarea where 1=1
        <if test="param.arealevel!=null"> and AREALEVEL like #{param.arealevel}</if><if test="param.areaname!=null"> and AREANAME like #{param.areaname}</if><if test="param.parentarea!=null"> and PARENTAREA like #{param.parentarea}</if><if test="param.areanum!=null"> and AREANUM like #{param.areanum}</if><if test="param.arealevelname!=null"> and AREALEVELNAME like #{param.arealevelname}</if><if test="param.sourceid!=null"> and SOURCEID like #{param.sourceid}</if>    </select>

    <update id="updateField" parameterType="String">
        UPDATE PUB_BASEINFO_SYSAREA SET ${field} = #{value} WHERE ID = #{pk}
    </update>
</mapper>