<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN">
	<head>
		<title></title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/styles/css/tree.css">
		<link rel="stylesheet" type="text/css" href="/static/styles/css/ace-fonts.css"/>
		<link rel="stylesheet" type="text/css" href="/static/styles/css/font-awesome.css"/>
		<link rel="stylesheet" type="text/css" href="/static/styles/css/organization.css"/>
		<link rel="stylesheet" type="text/css" href="/static/styles/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="/static/styles/css/bootstrap-table.css"/>
		<link rel="stylesheet" type="text/css" href="/static/styles/css/ace.css"/>
		<link rel="stylesheet" type="text/css" href="/static/styles/gecko.css"/>
		<link rel="stylesheet" type="text/css" href="/static/styles/css/jquery-ui.css"/>

		<script type="text/javascript" src="/static/scripts/gecko-modules/jquery/jquery.js"></script>
		<script type="text/javascript" src="/static/scripts/gecko-modules/jquery/jquery-ui.js"></script>
		<script type="text/javascript" src="/static/scripts/gecko-modules/bootstrap/bootstrap.min.js"></script>
		<script src="/static/scripts/gecko-modules/jquery/jquery.ztree.all-3.5.min.js"></script>
		<script type="text/javascript" src="/static/scripts/gecko-modules/bootstrap/bootstrap-table.js"></script>
		<script type="text/javascript" src="/static/scripts/gecko-modules/bootstrap/bootstrap-table-zh-CN.js"></script>
		<script type="text/javascript" src="/static/scripts/gecko-modules/jquery/jquery.ui.touch-punch.js"></script>
		<script type="text/javascript" src="/static/scripts/gecko-modules/jquery/chosen.jquery.js"></script>
		<script type="text/javascript" src="/static/scripts/gecko-modules/bootstrap/bootstrap-datepicker.js"></script>
		<script type="text/javascript" src="/static/scripts/gecko-modules/ace/fuelux.spinner.js"></script>

		<script type="text/javascript" src="/static/scripts/app/acceptance/gridquery/index.js"></script>
	</head>
	<body>

		<!--左侧操作区-->
		<div class="row breadcrumbs" style="margin:0px !important">
			<div class="lt">
				<div class="lt">
					<button id="add-data" class="btn btn-xs btn-success">
						<i class="ace-icon fa fa-plus-square-o bigger-110"></i>
						新增
					</button>
					<button class="btn btn-xs btn-primary">
						<i class="ace-icon fa fa-pencil-square-o bigger-110"></i>
						编辑
					</button>
					<button class="btn btn-xs btn-danger">
						<i class="ace-icon fa fa-trash-o  bigger-110 icon-on-left"></i>
						删除
					</button>
					<button class="btn btn-xs btn-inverse">
						<i class="ace-icon fa fa-file-image-o  bigger-110 icon-on-right"></i>
						查看
					</button>
					<!--<button  class="btn btn-xs btn-purple" data-toggle="modal" data-target="#myModal">
						<i class="ace-icon fa fa-reply-all bigger-110 icon-on-right"></i>
						导出
					</button>-->
					<div class="btn-group">
						<button data-toggle="dropdown" class="btn btn-pink btn-xs dropdown-toggle" aria-expanded="false" style="height:24px !important">
							<span class="ace-icon fa  fa-link "></span>
							导出
							<span class="ace-icon fa fa-caret-down icon-on-right"></span>
						</button>
						<ul class="dropdown-menu dropdown-info dropdown-menu-left">
							<li>
								<a id="export-excel" href="#">EXCLE</a>
							</li>

							<li>
								<a id="export-json" href="#">JSON</a>
							</li>

							<li>
								<a id="export-pdf" href="#">PDF</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="rt" >
					<!--右侧查询-->
				 <div class="form-group handle-are lt ">
					<div class="lt margin-right">
						<input type="text" id="form-field-1" class="inpu-text" style="width:220px !important;" placeholder="输入姓名/手机号/emial进行查询...">
					</div>
					<!--下拉框-->
		      		<div class="role-select lt margin-right">
						<select id="form-field-select-3" class="chosen-select form-control inpu-text"  data-placeholder="Choose a State..." >
							<option value="">请选择角色</option>
							<option value="AL">系统管理员</option>
							<option value="AK">审批员</option>
							<option value="AZ">打印专员</option>
							<option value="AR">档案管理员</option>
						</select>
					</div>
					<!--时间选择区-->
					<div class="lt">
						<div class="">
							<div id="input-daterange" class="input-daterange input-group" style="width: 246px; ">
								<input type="text" class="input-sm form-control" name="start" style="height:34px !important" >
								<span class="input-group-addon">
									<i class="fa fa-exchange"></i>
								</span>
								<input type="text" class="input-sm form-control" name="end" style="height:34px !important">
							</div>
						</div>
					</div>
					<div class="rt query">
						<button class="btn btn-xs btn-primary">
							<i class="ace-icon fa fa-search-minus bigger-110"></i>
							查询
					    </button>
					</div>
				</div>
			</div>
		</div>
		<!--查询区-->

		<div style="margin-top:5px; padding:0px 5px;">
			<table id="data-table"></table>
		</div>

		<div id="add-data-modal" class="modal fade role-modal" tabindex="-1">
		    <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
				      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					       		<i class="normal-icon ace-icon fa fa-plus-square-o green bigger-130 user-icon"></i>
					        <span class="modal-title" style="color:#69AA46">添加数据</span>
				      </div>
				      <!--modal-body部分-->
				      <div class="modal-body" style="height:80px;">
				      	<form class="form-horizontal" role="form" style="margin-top:5px; margin-bottom:10px;">
										<div class="radio">
											<label>
												<input name="form-field-radio" type="radio" checked class="ace">
												<span class="lbl"> 表单项</span>
											</label>
										</div>
								</form>
				      </div>
				      <!--modal-footer部分-->
				      <div class="modal-footer">
					       	<button  class="btn btn-xs btn-primary" data-toggle="modal" >
									<i class="ace-icon fa fa fa-check bigger-110"></i>
											保存
								  </button>
								   <button  class="btn btn-xs btn-default"  data-dismiss="modal">
											<i class="ace-icon fa fa-times bigger-110"></i>
											取消
								  </button>
				      </div>
			    </div>
		    </div>
		</div>

		<div id="export-data-modal" class="modal fade role-modal" tabindex="-1">
		    <div class="modal-dialog modal-sm" role="document">
			    <div class="modal-content">
				      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					       		<i class="normal-icon ace-icon fa fa-plus-square-o green bigger-130 user-icon"></i>
					        <span class="modal-title" style="color:#69AA46">数据导出</span>
				      </div>
				      <!--modal-body部分-->
				      <div class="modal-body" style="height:80px;">
				      	<form class="form-horizontal" role="form" style="margin-top:5px; margin-bottom:10px;">
										<div class="radio">
											<label>
												<input name="form-field-radio" type="radio" checked class="ace">
												<span class="lbl"> 导出本页数据</span>
											</label>
										</div>
										<div class="radio">
											<label>
												<input name="form-field-radio" type="radio" class="ace">
												<span class="lbl"> 导出查询结果</span>
											</label>
										</div>
								</form>
				      </div>
				      <!--modal-footer部分-->
				      <div class="modal-footer">
					       	<button  class="btn btn-xs btn-primary" data-toggle="modal" >
									<i class="ace-icon fa fa fa-check bigger-110"></i>
											确定
								  </button>
								   <button  class="btn btn-xs btn-default"  data-dismiss="modal">
											<i class="ace-icon fa fa-times bigger-110"></i>
											取消
								  </button>
				      </div>
			    </div>
		    </div>
		</div>

	</body>
</html>
