.popupMenuPane {
	border-width: 1px;
	border-style: solid;
	border-color: #002D96;
	background: #F6F6F6;
	padding: 1px 1px 1px 1px;
	background-image: url(../img/jsxmenu/office_xp_menu_left.gif);
	background-repeat: repeat-y;
	position: absolute;
	z-index: 999;
	overflow: visible;
	left: 100px;
	top: 100px;
}

.popupMenuItemPane {
	padding: 6px 6px 3px 3px;
	height: 18px;
	width: 150px;
}

.popupMenuItemOver {
	border: solid 1px #161B7E;
	background: #DCEEBD;
	padding: 5px 5px 2px 2px;
	height: 18px;
	width: 150px;
}

.popupMenuItemIcon {
	margin-left: 3px;
	margin-right: 10px;
	width: 11px;
	height: 14px;
}

.popupMenuItemTextSpan {
	cursor: default;
	font-size: 12px;
	vertical-align: middle;
}

.popupMenuOver {
	border: solid 1px #161B7E;
	background: #DCEEBD;
	color: #000000;
	font-size: 12px;
	text-align: left;
	vertical-align: middle;
	height: 20px;
	padding: 2px 15px 2px 28px;
	margin: 0px 0px 0px 0px;
	cursor: pointer;
}

.popupMenuItemArrow {
	background-image: url(../img/jsxmenu/office_xp_arrow.gif);
	background-repeat: no-repeat; /* Do not alter this line! */
	background-position: right center;
}

.popupMenuDisabled {
	color: gray;
}

/**下拉菜单*/
.dropDownMenuPanel {
	border-width: 1px;
	border-style: solid;
	border-color: #4A8DC0;
	background: #BADDF5;
	padding: 1px 1px 1px 1px;
	background-repeat: repeat-y;
	position: absolute;
	z-index: 999;
	overflow: visible;
	left: 100px;
	top: 100px;
}

.dropDownMenuItemOver {
	border: solid 1px #5FB3F7;
	background: #5FB3F7;
	padding: 5px 5px 2px 2px;
	height: 18px;
	width: 150px;
}