<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.gecko.framework.system.repository.dao.RoleDao">
    <select id="getRoles" resultMap="Role" parameterType="String">
        SELECT r.*
        FROM system_roles r, system_account_roles ar
        WHERE r.id = ar.role_id AND ar.account_id = #{accountId}
    </select>

    <select id="roleType" resultType="Integer" parameterType="String">
        select r.role_type from system_roles r left join system_account_roles ar on r.id=ar.role_id
        where ar.account_id=#{accountId}
    </select>
     <select id="getRolesByName" resultMap="Role" parameterType="String">
        SELECT r.*
        FROM system_roles r
        WHERE r.role_name = #{roleName}
    </select>
    <insert id="batchSaveAccount2Role" parameterType="java.util.List">
     	INSERT INTO SYSTEM_ACCOUNT_ROLES (role_id, account_id)
     	<foreach close=")" collection="list" item="item" open="(" separator="union all">
			select
			#{item.roleId},#{item.accountId}
			from dual
		</foreach> 
    </insert>
     <delete id="batchDeleteAccount2Role">
     	delete from SYSTEM_ACCOUNT_ROLES where role_id =  #{roleId} and account_id IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item.accountId}
        </foreach> 
    </delete>
</mapper>