<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gecko.framework.pubdata.repository.dao.PubBaseinfoSysdeptDao">
	<resultMap id="PubBaseinfoSysdept" type="org.gecko.framework.pubdata.entity.PubBaseinfoSysdept">
		<result property="id" column="ID" jdbcType="VARCHAR"/>
		<result property="coordinatey" column="COORDINATEY" jdbcType="VARCHAR" />
		<result property="deptname" column="DEPTNAME" jdbcType="VARCHAR" />
		<result property="sourceid" column="SOURCEID" jdbcType="VARCHAR" />
		<result property="coordinatex" column="COORDINATEX" jdbcType="VARCHAR" />
		<result property="deptnum" column="DEPTNUM" jdbcType="VARCHAR" />
		<result property="squence" column="SQUENCE" jdbcType="VARCHAR" />
		<result property="deptfullname" column="DEPTFULLNAME" jdbcType="VARCHAR" />
		<result property="area" column="AREA" jdbcType="VARCHAR" />
		<result property="parentdept" column="PARENTDEPT" jdbcType="VARCHAR" />
	</resultMap>
	<select id="count" resultType="int" parameterType="org.gecko.framework.pubdata.entity.PubBaseinfoSysdept">
		select count(*) from PUB_BASEINFO_SYSDEPT t where 1=1
	</select>
	
	<select id="get" resultMap="PubBaseinfoSysdept" parameterType="String">
		select  PubBaseinfoSysdept.* from PUB_BASEINFO_SYSDEPT PubBaseinfoSysdept where PubBaseinfoSysdept.ID = #{id}
	</select>

	<insert id="save" parameterType="org.gecko.framework.pubdata.entity.PubBaseinfoSysdept">	
 		insert into PUB_BASEINFO_SYSDEPT(ID,COORDINATEY,DEPTNAME,SOURCEID,COORDINATEX,DEPTNUM,SQUENCE,DEPTFULLNAME,AREA,PARENTDEPT)
 		VALUES(#{id},#{coordinatey,jdbcType=VARCHAR},#{deptname,jdbcType=VARCHAR},#{sourceid,jdbcType=VARCHAR},#{coordinatex,jdbcType=VARCHAR},#{deptnum,jdbcType=VARCHAR},#{squence,jdbcType=VARCHAR},#{deptfullname,jdbcType=VARCHAR},#{area,jdbcType=VARCHAR},#{parentdept,jdbcType=VARCHAR})
	</insert>
	
	<insert id="batchSave" parameterType="java.util.List">	
 		insert into PUB_BASEINFO_SYSDEPT(ID,COORDINATEY,DEPTNAME,SOURCEID,COORDINATEX,DEPTNUM,SQUENCE,DEPTFULLNAME,AREA,PARENTDEPT)
		values
		<foreach item="o" collection="list"  separator="," >
 		(#{o.id},#{o.coordinatey,jdbcType=VARCHAR},#{o.deptname,jdbcType=VARCHAR},#{o.sourceid,jdbcType=VARCHAR},#{o.coordinatex,jdbcType=VARCHAR},#{o.deptnum,jdbcType=VARCHAR},#{o.squence,jdbcType=VARCHAR},#{o.deptfullname,jdbcType=VARCHAR},#{o.area,jdbcType=VARCHAR},#{o.parentdept,jdbcType=VARCHAR})
		</foreach>
	</insert>
	
	<update id="update" parameterType="org.gecko.framework.pubdata.entity.PubBaseinfoSysdept">
    		update PUB_BASEINFO_SYSDEPT set COORDINATEY=#{coordinatey}, DEPTNAME=#{deptname}, SOURCEID=#{sourceid}, COORDINATEX=#{coordinatex}, DEPTNUM=#{deptnum}, SQUENCE=#{squence}, DEPTFULLNAME=#{deptfullname}, AREA=#{area}, PARENTDEPT=#{parentdept} where ID=#{id}
	</update>
	<delete id="delete" parameterType="org.gecko.framework.pubdata.entity.PubBaseinfoSysdept">
		delete from PUB_BASEINFO_SYSDEPT where ID=#{id}
	</delete>
	
	<delete id="deleteById" parameterType="String">
		delete from PUB_BASEINFO_SYSDEPT where ID=#{id}
	</delete>
	
	<delete id="batchDelete">
		delete from PUB_BASEINFO_SYSDEPT where ID in
		<foreach item="ids" collection="array" open="(" separator="," close=")" >#{ids}</foreach>
	</delete>
	
	<delete id="batchDeleteBy">
        delete from PUB_BASEINFO_SYSDEPT where         <if test="coordinatey!=null">and COORDINATEY = #{coordinatey}</if><if test="deptname!=null">and DEPTNAME = #{deptname}</if><if test="sourceid!=null">and SOURCEID = #{sourceid}</if><if test="coordinatex!=null">and COORDINATEX = #{coordinatex}</if><if test="deptnum!=null">and DEPTNUM = #{deptnum}</if><if test="squence!=null">and SQUENCE = #{squence}</if><if test="deptfullname!=null">and DEPTFULLNAME = #{deptfullname}</if><if test="area!=null">and AREA = #{area}</if><if test="parentdept!=null">and PARENTDEPT = #{parentdept}</if>    </delete>

    <select id="find" resultMap="PubBaseinfoSysdept" parameterType="org.gecko.framework.pubdata.entity.PubBaseinfoSysdept">
        select PubBaseinfoSysdept.* from PUB_BASEINFO_SYSDEPT PubBaseinfoSysdept where 1=1 <if test="id!=null">and ID=#{id}</if>
        <if test="coordinatey!=null"> and COORDINATEY = #{coordinatey} </if><if test="deptname!=null"> and DEPTNAME = #{deptname} </if><if test="sourceid!=null"> and SOURCEID = #{sourceid} </if><if test="coordinatex!=null"> and COORDINATEX = #{coordinatex} </if><if test="deptnum!=null"> and DEPTNUM = #{deptnum} </if><if test="squence!=null"> and SQUENCE = #{squence} </if><if test="deptfullname!=null"> and DEPTFULLNAME = #{deptfullname} </if><if test="area!=null"> and AREA = #{area} </if><if test="parentdept!=null"> and PARENTDEPT = #{parentdept} </if>    </select>

	<select id="findByPage" resultMap="PubBaseinfoSysdept" parameterType="org.gecko.framework.pubdata.entity.PubBaseinfoSysdept">
		select PubBaseinfoSysdept.* from PUB_BASEINFO_SYSDEPT PubBaseinfoSysdept where 1=1 <if test="param.id!=null">and ID=#{id}</if>
		<if test="param.coordinatey!=null"> and COORDINATEY = #{param.coordinatey} </if><if test="param.deptname!=null"> and DEPTNAME = #{param.deptname} </if><if test="param.sourceid!=null"> and SOURCEID = #{param.sourceid} </if><if test="param.coordinatex!=null"> and COORDINATEX = #{param.coordinatex} </if><if test="param.deptnum!=null"> and DEPTNUM = #{param.deptnum} </if><if test="param.squence!=null"> and SQUENCE = #{param.squence} </if><if test="param.deptfullname!=null"> and DEPTFULLNAME = #{param.deptfullname} </if><if test="param.area!=null"> and AREA = #{param.area} </if><if test="param.parentdept!=null"> and PARENTDEPT = #{param.parentdept} </if>	</select>

    <select id="likeByPage" resultMap="PubBaseinfoSysdept" parameterType="org.gecko.framework.pubdata.entity.PubBaseinfoSysdept">
        select PubBaseinfoSysdept.* from PUB_BASEINFO_SYSDEPT PubBaseinfoSysdept where 1=1
        <if test="param.coordinatey!=null"> and COORDINATEY like #{param.coordinatey}</if><if test="param.deptname!=null"> and DEPTNAME like #{param.deptname}</if><if test="param.sourceid!=null"> and SOURCEID like #{param.sourceid}</if><if test="param.coordinatex!=null"> and COORDINATEX like #{param.coordinatex}</if><if test="param.deptnum!=null"> and DEPTNUM like #{param.deptnum}</if><if test="param.squence!=null"> and SQUENCE like #{param.squence}</if><if test="param.deptfullname!=null"> and DEPTFULLNAME like #{param.deptfullname}</if><if test="param.area!=null"> and AREA like #{param.area}</if><if test="param.parentdept!=null"> and PARENTDEPT like #{param.parentdept}</if>    </select>

    <update id="updateField" parameterType="String">
        UPDATE PUB_BASEINFO_SYSDEPT SET ${field} = #{value} WHERE ID = #{pk}
    </update>
</mapper>