body {
    margin: 0;
    font-family: Helvetica;
    background: #FFFFFF;
    color: #000000;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
}

.pageTitle {
    position: absolute;
    overflow: hidden;
    top: 8;
    left: 50%;
    margin: 1px 0 0 -75px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #FFFFFF;
}

.toolbartd {
	background: url(../img/ipad/toorbar_bg.jpg) repeat;
    margin: 0px 0 0px 0px;
    padding: 0px 5px 0px 5px;
}

.liclass {
    position: relative;
    margin: 0;
    padding: 0;
    left: 0;
    border-bottom: 1px solid #bdc6d5;
    padding: 5px 0 5px 10px;
    font-size: 19px;
    list-style: none;
}

.liimgclass {
    position: relative;
    margin: 0;
    padding: 0;
    left: 0;
    border-bottom: 1px solid #bdc6d5;
    padding: 5px 5 5px 6px;
    font-size: 19px;
    list-style: none;
}

.liclassspan {
    display: block;
    margin: -8px 0 -8px -10px;
    padding: 0px 5px 0px 5px;
    text-decoration: none;
    color: inherit;
}

.previewimgclass{
	height:140;
	width:190;
	background-color:#0b2856;
}

.previewimgTr{
	height:240;
	background-color:#0b2856;
}

.previewbackground {
}

.ipad_img_topbg{
    /*background-image:url(../img/ipad/login/login_top_line.jpg);*/
    background-repeat:repeat-x;
    background-position:top;
}

.ipad_user_css{
	width:252px;
	height:25px;
	padding:4px 0px 0px 1px;
}

.ipad_passwoard_css{
	width:252px;
	height:25px;
	padding:0px 0px 0px 1px;
}

.ipad_save_css{
	height:10px;
	padding:10 0 2 0px;
}

.ipad_font01{color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; }
.ipad_font02{color: #ffffff; font-family:Arial, Helvetica, sans-serif，"宋体"; font-size: 12px;font-weight:bold;  }
.ipad_font03{color: #999999;font-family:Arial, Helvetica, sans-serif，"宋体";font-size: 12px;letter-spacing: 1px;}
.ipad_font04{color:#ffffff;font-family:Arial, Helvetica, sans-serif，"宋体";font-size: 16px; font-weight:bold; text-align:right;}

.ipad_input_style{
	border:1px solid #92a2b9;
	height:25px;
	width:200px;
	size:13px;
	font-size: 16px;
}
.login img{ border:0px;} 

.ipad_boby_div{
	margin:0px;
	overflow:auto;
	background-color: #ffffff;
    margin:0px 0px 0px 0px;
	overflow:hidden;
	background-image:url(../img/ipad/login/iphone_bg.jpg);
    background-repeat:no-repeat;
	background-position:0 -50;
	background-attachment:fixed;
	background-size: 100%;100%;
}

.ipadLayer1{
   position:relative;
   width:320px; 
   height:356px;
   z-index:1;   
   border: 0px none #fff;
}

.ipadLayer2 {
	position:absolute;
	left:10px;
	top:80px;
	width:320px;
	height:180px;
	z-index:2;
}

.ipad_img_top{
	width:320px;
	height:20px;
}

.ipad_img_bottom{
	width:320px;
	height:180px;
}

.ipad_button_css{
	heigh:42px;
	padding:8 0 0 0px;
}

@media (max-width:320px){
/*Portrait*/
.ipad_boby_div{
	margin:0px;
	overflow:auto;
	background-color: #ffffff;
    margin:0px 0px 0px 0px;
	overflow:hidden;
	background-image:url(../img/ipad/login/iphone_bg.jpg);
    background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;
	background-size: 100% 100%;
}
	
	
.ipadLayer1{
   position:relative;
   width:320px; 
   height:356px;
   z-index:1;   
   border: 0px none #fff;
}

.ipadLayer2 {
	position:absolute;
	left:10px;
	top:100px;
	width:320px;
	height:180px;
	z-index:2;
}

.ipad_img_top{
	width:320px;
	height:20px;
}

.ipad_img_bottom{
	width:320px;
	height:180px;
}

}