/*-----------------tabs1---------------------*/
BODY {
	scrollbar-face-color: #e5f3fc;
	scrollbar-highlight-color: #79abcf;
	scrollbar-shadow-color: #4b7c9f;
	scrollbar-3dlight-color: #f0f9ff;
	scrollbar-arrow-color: #000000;
	scrollbar-track-color: #e9f5fd;
	scrollbar-darkshadow-color: #e7f5fe;
}

img {
	border: none;
} 

.bannerText1 {
    color:#FF9901;
	cursor:pointer;
}
.bannerText2 {
    color:#0057B8;
	cursor:pointer;
}
.pathInfo {
    color:#737373;
}
.tabsLeft{
	display:inline-block;
	width:8px;
	height:24px;
	cursor:pointer;
	background:url("../images/tabs_bg.gif") no-repeat left center;
}
.tabsCenter{
	display:inline-block;
	height:24px;
	color:#000000;
	font-size:12px;
	white-space:nowrap;
	cursor:pointer;
	background:url("../images/tabs_bg.gif") no-repeat center center;
	vertical-align:bottom;
}
.tabsRight{
	display:inline-block;
	width:8px;
	height:24px;
	cursor:pointer;
	background:url("../images/tabs_bg.gif") no-repeat right center;
}
.tabsHoverLeft{
	display:inline-block;
	width:8px;
	height:24px;
	cursor:pointer;
	background:url("../images/tabs_bg.gif") no-repeat left bottom;
}
.tabsHoverCenter{
	display:inline-block;
	height:24px;
	color:#3064A4;
	cursor:pointer;
	font-size:12px;
	white-space:nowrap;
	background:url("../images/tabs_bg.gif") no-repeat center bottom;
	vertical-align:bottom;
}
.tabsHoverRight{
	display:inline-block;
	width:8px;
	height:24px;
	cursor:pointer;
	background:url("../images/tabs_bg.gif") no-repeat right bottom;
}
.tabsSelectLeft{
	display:inline-block;
	width:8px;
	height:24px;
	cursor:pointer;
	background:url("../images/tabs_bg.gif") no-repeat left top;
}
.tabsSelectCenter{
	display:inline-block;
	height:24px;
	color:#000000;
	cursor:pointer;
	font-size:12px;
	white-space:nowrap;
	background:url("../images/tabs_bg.gif") no-repeat center top;
	vertical-align:bottom;
	font-weight: bold;
}
.tabsSelectRight{
	display:inline-block;
	width:8px;
	height:24px;
	cursor:pointer;
	background:url("../images/tabs_bg.gif") no-repeat right top;
}

.menuNoSelect{
	font-size:12px;
	height:9px;
	color:#00245B;
	cursor:pointer;
}
.menuSelected{
	font-size:12px;
	height:9px;
	color:#00245B;
	cursor:pointer;
	font-weight: bold;
}
.dashletTopCenter{
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#F4F4F4', endColorstr='#ffffff');
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#F4F4F4), to(#ffffff));
	background: -moz-linear-gradient(top, #F4F4F4, #ffffff);
	backgroundColor: #F4F4F4;
	border-bottom:1px solid #E0E8FD;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.dashletContent{

}
.dashletBottomSpace{
	height:5px;
}

.searchTitle{
	background:url("../images/dashlet_bg_top_center.gif") repeat-x;
}

.banner--inactive{
	color: #1F2734;
	cursor: pointer;
}

.banner--active{
	color: #FF0000;
	cursor: pointer;
}

body,td {
	font-size:12px;
}

.headTable{
background: url(../../default/images/top_bg.jpg) no-repeat top left;
}
.headTable2{
background: url(../../default/images/banner.gif) x-repeat top left;
}

.headMenu{
background: url(../../default/images/top_menu_bg.gif) repeat top left;
padding:4 4 4 4;
}

.pathInfo {
	height:16px;
	background: url(../../default/images/currentPlace.gif) repeat-x top left;
}

.pathInfo_currentPlace {
	padding-left:10px;
	height:16px;	
}

.pageSaveAs{
	float: right;
	width:10px;
	height:10px;
	background: url(../../default/images/page_saveAs.png) no-repeat center right;
	cursor: pointer;
	margin: 3 4 0 0;
	padding: 0 0 0 0;
}

.pageMaximize{
	float: right;
	width:10px;
	height:10px;
	background: url(../../default/images/page_maximize.png) no-repeat center right;
	cursor: pointer;
	margin: 3 4 0 0;
	padding: 0 0 0 0;
}

.pageOriginal{
	float: right;
	width:10px;
	height:10px;
	background: url(../../default/images/page_original.png) no-repeat center right;
	cursor: pointer;
	margin: 3 4 0 0;
	padding: 0 0 0 0;
}

.pagePopupMenu_normal{
	float: right;
	width:10px;
	height:10px;
	background: url(../../default/images/page_popupmenu_normal.png) no-repeat center right;
	cursor: pointer;
	margin: 3 10 0 0;
	padding: 0 0 0 0;
}

.pagePopupMenu_pressed{
	width:19px;
	height:16px;
	background: url(../../default/images/page_popupmenu_pressed.png) no-repeat center right;
	cursor: pointer;
	margin: 0 4 0 0;
	padding: 0 0 0 0;
}


.dashletMax{
width:16px;
height:16px;
background:url("../images/max.gif") no-repeat top left;
}
.dashletOriginal{
width:16px;
height:16px;
background:url("../images/original_on.gif") no-repeat top left;
}
.dashletMin{
width:16px;
height:16px;
background:url("../images/original.gif") no-repeat top left;
}
.dashletClose{
width:16px;
height:16px;
background:url("../images/close.gif") no-repeat top left;
}
.dashletConfiguration{
width:16px;
height:16px;
background:url("../images/configuration.gif") no-repeat top left;
}
.dashletExchang{
width:16px;
height:16px;
background:url("../images/exchang.gif") no-repeat top left;
}
.dashletExport{
width:16px;
height:16px;
background:url("../images/export.gif") no-repeat top left;
}
.dashletChangeChartType{
width:16px;
height:16px;
background:url("../images/changeChartType.gif") no-repeat top left;
}
.dashletChangeChartTypePanel{
background:#FFFFFF;
border:1px solid #A0A0A0;
MozBoxShadow:3px 3px 10px #888;
WebkitBoxShadow:3px 3px 10px #888;
boxShadow:3px 3px 10px #888;
overflow:auto;
}
.dashletPreview{
width:16px;
height:16px;
background:url("../images/tool_button_icon_preview.gif") no-repeat top left;
}

/* by Guo JingFeng 2011-02-22 */
.reportComment{
width:16px;
height:16px;
background:url("../images/report_comment.gif") no-repeat top left;
}

.dashletForward{
width:16px;
height:16px;
background:url("../images/forward.gif") no-repeat top left;
}
.dashletBackward{
width:16px;
height:16px;
background:url("../images/backward.gif") no-repeat top left;
}
.dashletLocateReport{
width:16px;
height:16px;
background:url("../images/locateReport.gif") no-repeat top left;
}

.subTreeTitle{
height: 25;
align: center;
background:url("../../default/images/subtreetitlebg.jpg")
}

.hsplitterLeft{
width:4px;
height: 56px;
background:url("../../default/images/hsplitter_left.gif")
}

.hsplitterRight{
width:4px;
height: 56px;
background:url("../../default/images/hsplitter_right.gif")
}
.hsplitterBg{
width:4px;
height: 100%;
background:url("../../default/images/hsplitter_bg.gif")
}

.dashletRadiusBorder {
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border: 1px solid #E0E8FD;
	border-radius: 5px 5px 0 0;
}

/**===============head.jsp的tab显示==================**/
.main_tab{
height: 24px;
}

.logoTdWidth{
width :230px;
}

.main_tab_tab{
height: 24px;
white-space: nowrap;
}

.tabsCenterText{
	position:relative;
	top:5px;
}

.firstTabsLeft{
	display:inline-block;
	width:1px;
	height:24px;
}

.lastTabsRight{
	display:inline-block;
	width:1px;
	height:24px;
}

/**=================================**/

/*-------BEGIN--------*/

.rootTreeNode {
	color: #1c1c1c;
	font-size: 12px;
	height: 30px;
	width: 170px;
	padding-left: 10px;
	padding-top: 4px;
	cursor: hand;
	border-bottom: 1px solid #e0e0e0;
	overflow: auto;
}

.subTreeNode {
	font-size: 12px;
	height: 28px;
	padding-left: 15px;
	padding-top: 7px;
	cursor: hand;
	overflow: auto;
	color: #1c1c1c;
}

/*大图标portlet样式===================*/
.taskpanel_item_selected {
	cursor: hand;
	border: 1px solid #65AEFE;
	background-color: #E4F1FC;
	margin: 5px;
	padding: 10px;
}

.taskpanel_item_default {
	cursor: hand;
	border: 1px solid #FFFFFF;
	margin: 5px;
	padding: 10px;
}

.taskpanel_item_title {
	height: 30px;
	font-size: 14px;
	color: #000099;
}
/*大图标portlet样式===================*/

.layout_item_selected {
	border: 1px solid #65AEFE;
	background-color: #E4F1FC;
	margin: 2px;
	padding: 2px;
}

.layout_item_default {
	border: 1px solid #FFFFFF;
	margin: 2px;
	padding: 2px;
}