<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/static/styles/css/ace-fonts.css"/>
		<link rel="stylesheet" type="text/css" href="/static/styles/css/font-awesome.css"/>
		<!--<link rel="stylesheet" type="text/css" href="/static/styles/css/bootstrap.css"/>-->
		<link rel="stylesheet" type="text/css" href="/static/styles/css/ace.css"/>
		<link rel="stylesheet" type="text/css" href="/static/styles/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/static/styles/gecko.css"/>

		<script type="text/javascript" src="/static/scripts/gecko-modules/jquery/jquery.js"></script>
		<script type="text/javascript" src="/static/scripts/gecko-modules/bootstrap/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/scripts/gecko-modules/handlebas/handlebars-v4.0.10.js"></script>
		<script type="text/javascript" src="/static/scripts/gecko-modules/bootstrap/bootstrap-table.js"></script>
	    <script type="text/javascript" src="/static/scripts/gecko-modules/bootstrap/bootstrap-table-zh-CN.js"></script>
		<script type="text/javascript" src="/static/scripts/app/system/sqlfirewall/index.js"></script>
		<style type="text/css">
			.table-color{
				color:#333333;
			}
			.td_lable {
				    font-weight: bold;
				    width: 220px;
				    background-color: #E5E5E5;
				    height:30px !important;
				}
				.visitTable th{
					padding-bottom:0px !important;
					padding-top:0px !important;
					background:#E5E5E5;							
					vertical-align: bottom !important;										
				}
				 table th a{
					color:#555555;
				}
		</style>
	</head>
	<body>
		<div class="container-fluid">
			<!--防御统计-->
		<!--	<div class="row">
				<div class="col-lg-12">
					<h3>防御统计</h3>
				</div>
				<div class="col-lg-12">
					<table class="table table-bordered table-hover">
						<tr>
							<td class="td_lable ">检查次数</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="td_lable">硬件检查次数</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="td_lable ">非法次数</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="td_lable ">黑名单命中次数</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="td_lable ">黑名单长度</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="td_lable ">白名单命中次数</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="td_lable ">白名单长度</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="td_lable ">语法错误次数</td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</div>				
			</div>-->
			<!--表访问统计-->
			
			
	
		
			<div class="tabbable">
				<ul class="nav nav-tabs" id="myTab">
					<li class="active">
						<a data-toggle="tab" href="#home">
							<i class="green ace-icon fa fa-list bigger-120"></i> 防御统计
						</a>
					</li>
					<li>
						<a data-toggle="tab" href="#messages">
							<i class="green ace-icon fa fa-users bigger-120"></i> 表访问统计
						</a>
					</li>
					<li>
						<a data-toggle="tab" href="#function-call">
							<i class="green ace-icon fa fa-users bigger-120"></i>函数调用
						</a>
					</li>
					
					<li>
						<a data-toggle="tab" href="#table-statistic">
							<i class="green ace-icon fa fa-users bigger-120"></i>SQL防御统计 - 白名单
						</a>
					</li>
				</ul>
				<div class="tab-content">
					<div id="home" class="tab-pane fade in active menu-control">
						<table id="table-data" class="table table-bordered table-condensed">
										
						</table>
					</div>
					<div id="messages" class="tab-pane fade">
						<table id="tb"></table>
					</div>
					
					<div id="function-call" class="tab-pane fade">
						<table id="function-table"></table>
					</div>
					
					<div id="table-statistic" class="tab-pane fade">
						<table id="sql-wall"></table>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script id="points-template" type="text/x-handlebars-template">
		{{#each this}}
			<tr>
				<td class="td_lable ">检查次数</td>
				<td></td>
				<td></td>
			</tr>
				<tr>
					<td class="td_lable">硬件检查次数</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td class="td_lable ">非法次数</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td class="td_lable ">黑名单命中次数</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td class="td_lable ">黑名单长度</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td class="td_lable ">白名单命中次数</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td class="td_lable ">白名单长度</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td class="td_lable ">语法错误次数</td>
					<td></td>
					<td></td>
				</tr>
		{{/each}}
	</script>
</html>
